<!DOCTYPE html>
<html>
  <head>
    <title> Groundwater Management Water Quality Prediction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <link rel="stylesheet" href="{{url_for('static', filename='./fonts/material-icon/css/material-design-iconic-font.min.css')}}" />

    <link rel="stylesheet" href="{{url_for('static', filename='./css/style.css')}}" />
  </head>


<body>

    <div class="main">
        <div class="container">
            <div class="form-content">
                <div class="form-img">

                    <img src="{{url_for('static', filename='./images/i.jpg')}}" alt="Image" class="img-fluid">

                    <div class="form-img-content">
                        <h2>Ground-water Management </h2>
                        <p>Water Quality Prediction</p>
                    </div>
                </div>
                <div class="main-form">
                    <form  action="{{ url_for('predictObject') }}" method="post"  enctype="multipart/form-data" class="temp-form" id="temp-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="ph" >ph</label>
                                    <input type="text" name="ph" id="ph" required />
                                </div>
                                <div class="form-input">
                                    <label for="hardness" >Hardness</label>
                                    <input type="text" name="hardness" id="hardness" required />
                                </div>
                                <div class="form-input">
                                    <label for="solids" >Solids</label>
                                    <input type="text" name="solids" id="solids" required />
                                </div>
                                <div class="form-input">
                                    <label for="chloramines" >Chloramines</label>
                                    <input type="text" name="chloramines" id="chloramines" required/>
                                </div>
                                <div class="form-input">
                                    <label for="sulfate" >Sulfate</label>
                                    <input type="text" name="sulfate" id="sulfate" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="conductivity" >Conductivity</label>
                                    <input type="text" name="conductivity" id="conductivity" required/>
                                </div>
                                <div class="form-input">
                                    <label for="organic_carbon" >Organic carbon</label>
                                    <input type="text" name="organic_carbon" id="organic_carbon" required/>
                                </div>
                                <div class="form-input">
                                    <label for="trihalomethanes" >Trihalomethanes</label>
                                    <input type="text" name="trihalomethanes" id="trihalomethanes" required />
                                </div>
                                <div class="form-input">
                                    <label for="turbidity" >Turbidity</label>
                                    <input type="text" name="turbidity" id="turbidity" required/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                        </div>

                        <div class="msg">
                            <label style="color: purple;">{{msg}}</label>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    
</body>
</html>